<h1>All Job Announcements</h1>

<%= link_to "New Announcement", new_announcement_path, class: 'btn btn-large btn-block' %>

<% @announcements.each do |announcement| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to announcement.title, announcement %>
      </h4>
      <small>
        submitted <%= time_ago_in_words(announcement.created_at) %> ago
        <br/>
        <%= announcement.notes.count %> notes
      </small>
    </div>
  </div>
<% end %>
